#album {
    #baniere {
        display: flex;
        width: 100%;
        .cover{
            width: 20%;
            img {
                padding: 2em;
                width: 100%;
            }
        }
        #text {
            padding-top: 6.5em;
            padding-left: 10%;
            text-align: center;
        }
    }
    #music-list {
        ul {
            list-style-type: none;
            list-style-position: outside;

            li {
                width: 100%;
                padding-top: 2em;
                padding-bottom: 2em;
                padding-left: 5%;
                margin-right: 5%;

                &:hover {
                    background-color: $second-color;
                }
            }
        }
    }
}
