// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "modify";
@import "music";
@import "album";
@import "artist";

body {
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
        color: $main-color;

        &:hover {
            text-decoration: none;
            color: $main-color;
        }
    }

    .group-playlists {
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        margin-left: 10%;
        margin-right: 10%;

        .playlist-unit {
            background-color: $second-color;
            margin: 0.5%;
            width: 30%;
            padding: 2%;
            text-align: center;

            img {
                width: 100%;
            }
        }
    }
}

header {
    width: 100%;
    padding-right: 25%;
    padding-left: 25%;

    #avatar {
        width: 1.5em;
        height: 1.5em;
        border: none $main-color 1px;
        border-radius: 100%;
    }

    #param-avatar {
        width: 15em;
        height: 15em;
        border: none $main-color 1px;
        border-radius: 100%;
    }

    #logo_container {
        display: flex;
        align-items: center;
        width: 50%;

        img {
            width: 10%;
            height: 10%;
        }
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        width: 25%;
    }

    .nav-item {
        margin-left: 5%;
        margin-right: 5%;
        padding: 5px;

        &:hover {
            background-color: $second-color;
            border-radius: 5px;
        }
    }

    #user-place {
        display: flex;
        align-items: baseline;
    }

    .dropdown {
        position: relative;
        display: inline-block;

        #username {
            &:hover {
                background-color: $third-color;
            }
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: $third-color;
            min-width: 10%;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding-top: 10%;
            padding-bottom: 10%;
            z-index: 1;
        }

        &:hover .dropdown-content {
            display: block;
        }

        .dropdown-item:hover {
            background-color: $second-color;
            border-radius: 5px;
        }
    }
}

footer {
    width: 100%;
    height: 25%;
    margin-top: 20%;
    padding: 10%;
    background-color: $second-color;
    flex-wrap: wrap;

    a:hover {
        text-decoration: underline;
    }

    #gitlab {
        width: 25%;
        display: flex;
        align-items: center;
        overflow: auto;

        img {
            display: block;
            width: 10%;
            height: 10%;
            margin-right: 2.5%;
        }
    }
}

/* bouton recherche */
.recherche {
    height: 28px;
    width: 145px;
}
