.content {
    #user_baniere {
        width: 98%;
        height: 15%;
        margin-right: 1%;
        margin-left: 1%;

        #image {
            margin-left: 41%;
            width: 20%;
            border: $second-color solid 0.5em;
            border-radius: 100%;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        .text {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 2%;
            text-align: center;
        }
    }

    #albums-list {
        padding-left: 15%;
        margin-top: 5%;
        li {
            list-style: none;
            width: 100%;

            :hover {
                background-color: $third-color;
                border-radius: 10%;
            }
        }
    }
}
