.the-form {
    margin-left: 25%;
    margin-right: 25%;
    .profile-image {
        margin-bottom: 5%;
        display: flex;
        justify-content: center;
        img {
            border-radius: 100%;
            width: 100px;
            height: 100px;
        }
    }
    .form-items {
        display: flex;
        justify-content: center;
    }
}
