#music-player {
    flex-wrap: wrap;
    #cover {
        width: 100%;
        display: flex;
        img {
            width: 25%;
            padding: 2em;
        }
        #text {
            width: 75%;
            text-align: center;
            padding-top: 5%;
            mix-blend-mode: revert;
            h1 {
                font-size: 4em;
            }
        }
    }
    .player {
        width: 100%;
        audio {
            width: 100%;
        }
    }
}
